.d_flex, .email-section .email__wrapper .email__box .email__input .btn-send, .email-section .email__wrapper .email__box, .explore-section, .camping-card--travel .camping-card__review .camping-card__favorite, .header__nav .nav-box {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-1-5 {
  margin-bottom: 1.5rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.mb-8 {
  margin-bottom: 8rem;
}

.pd-content {
  padding-left: 12rem;
  padding-right: 12rem;
}

@media only screen and (max-width: 37.5em) {
  .pd-content {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .pd-content {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  line-height: 1.75;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  background-color: #FAF4F2;
  color: #3B3735;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 57%;
  }
}
@media only screen and (max-width: 62.5em) {
  html {
    font-size: 50%;
  }
}
.heading-1--archivo {
  font-size: 3rem;
  font-family: "Archivo Black", sans-serif;
  line-height: 1.35;
}

.header {
  padding: 4rem 12rem;
  height: 90vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(rgba(59, 55, 53, 0.5), rgba(59, 55, 53, 0.5)), url(../../assets/imgs/hero4x.png);
  background-repeat: no-repeat;
  background-position-y: 75%;
  background-size: cover;
  border-bottom-left-radius: 15rem;
  border-bottom-right-radius: 15rem;
}
.header__nav {
  display: flex;
}
.header__nav--icon {
  width: 4rem;
  height: 4rem;
  margin-right: 4rem;
}
.header__nav--icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header__nav .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
.header__nav .nav__item {
  margin-right: 3rem;
  color: #D2D2D2;
  font-size: 1.6rem;
  line-height: 1.55;
  text-decoration: none;
  position: relative;
  transition: 0.3s all;
}
.header__nav .nav__item::before {
  content: "";
  transition: 0.3s all;
  display: block;
  width: 3.5rem;
  height: 2px;
  background-color: #FF8A6C;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 25%;
  transform: translate(-50%, -10px) rotateZ(45deg);
}
.header__nav .nav__item:hover {
  color: white;
}
.header__nav .nav__item:hover::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -150%) rotateZ(45deg);
  opacity: 1;
}
.header__nav .nav__item--active {
  color: white;
}
.header__nav .nav__item--active::before {
  content: "";
  display: block;
  width: 3.5rem;
  height: 2px;
  background-color: #FF8A6C;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -150%) rotateZ(45deg);
  opacity: 1;
}
.header__nav .nav-box {
  display: none;
  padding: 0.5rem 0.2rem;
  background-color: white;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  border-radius: 40%;
}
.header__nav .nav-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header__hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header .hero-container {
  padding: 3rem;
  margin: 0 auto;
}
.header .hero-container h1 {
  font-size: 6rem;
}
.header .sub-content {
  line-height: 1.55;
}

@media (min-width: 1200px) {
  .header {
    padding: 4rem 12rem;
  }
  .hero-container {
    max-width: 40%;
  }
}
@media only screen and (max-width: 75em) {
  .header {
    padding: 4rem 4rem;
  }
  .hero-container {
    max-width: 40%;
  }
  .nav__item {
    margin-right: 2rem;
  }
  .nav--icon {
    margin-right: 2rem;
  }
  .nav__item-box {
    max-width: 70%;
  }
}
@media only screen and (max-width: 37.5em) {
  .header {
    padding: 2rem 2rem;
    height: 100vh;
  }
  .hero-container {
    max-width: 80%;
  }
  .header__nav {
    justify-content: space-between;
  }
  .header__nav--icon {
    width: 6rem !important;
    height: 6rem !important;
  }
  .nav {
    display: none !important;
  }
  .nav-box {
    display: flex !important;
  }
  .sub-content {
    font-size: 2.3rem;
  }
  .header__hero {
    width: 100%;
  }
  .hero-container {
    max-width: 100%;
  }
}
.footer {
  border-top-left-radius: 12rem;
  border-top-right-radius: 12rem;
  background-color: #F8E1DB;
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer h4 {
  font-size: 1.6rem;
}
.footer .footer__content {
  display: flex;
  justify-content: space-between;
}
.footer .footer__content--left {
  width: 45%;
  padding-right: 2rem;
}
.footer .footer__content--left h4 {
  font-size: 1.6rem;
}
.footer .footer__content--right {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.footer .footer__content--right .footer__col {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.footer .footer__content--right .footer__col--item {
  text-decoration: none;
  color: #3B3735;
}
.footer .footer__content--right .footer__col h4 {
  font-size: 1.6rem;
}
.footer .download-app-wrapper {
  align-self: flex-start;
}

@media only screen and (max-width: 37.5em) {
  .footer h4 {
    font-size: 2.25rem !important;
  }
  .footer .footer__content {
    flex-direction: column;
  }
  .footer .footer__content--left {
    width: 100% !important;
  }
  .footer .footer__content--left .sub-content {
    font-size: 2rem;
  }
  .footer .footer__content--right {
    width: 100%;
    flex-wrap: wrap;
  }
  .footer .footer__content--right .footer__col {
    width: 50%;
    margin-bottom: 3rem;
  }
  .footer .footer__content--right .footer__col--item {
    font-size: 2rem;
  }
  .footer__copyright {
    font-size: 2rem;
  }
}
.button-group {
  display: flex;
}
.button-group__button {
  color: white;
  padding: 0.5rem 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all 0.3 linear;
}
.button-group__button:hover {
  border: 1px solid #E76F51;
  border-radius: 2.5rem;
  background-color: #E76F51;
  border-color: transparent;
}
.button-group__button--border {
  border-radius: 2.5rem;
  border: 1px solid white;
  margin-left: 1rem;
}

.btn--discover {
  padding: 0.7rem 4rem;
  border-radius: 2rem;
  background-color: #E76F51;
  text-decoration: none;
  color: white;
  width: max-content;
  margin: 0 auto;
}

.btn__readmore {
  text-decoration: none;
  padding: 1rem 0;
  background-color: #F3F3F3;
  border-radius: 2.5rem;
  color: #8D8D8D;
  display: inline-block;
}

.btn-view-all {
  padding: 0.5rem 4.5rem;
  border: 1px solid #FF8A6C;
  border-radius: 2.5rem;
  color: #FF8A6C;
  text-decoration: none;
  font-weight: 600;
}

@media only screen and (max-width: 37.5em) {
  .btn--discover {
    padding: 1rem 8rem;
    font-size: 2.2rem;
    border-radius: 3rem;
  }
  .btn__readmore {
    font-size: 2.25rem;
    padding: 1rem 6rem;
    border-radius: 3rem;
  }
  .btn-view-all {
    padding: 1rem 7rem;
    border: 2px solid #FF8A6C;
    border-radius: 3rem;
    font-size: 2rem;
  }
}
.camping__card {
  width: 23.7%;
  padding: 5rem 2.3rem 4rem;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s;
  border: 2px solid transparent;
}
.camping__card--item {
  text-align: center;
  border-radius: 2rem;
  height: max-content;
}
.camping__card--img {
  width: 6rem;
  height: 6rem;
}
.camping__card--title {
  font-size: 1.6rem;
}
.camping__card--detail {
  font-size: 1.4rem;
}
.camping__card--extend {
  display: none;
}
.camping__card:hover {
  border-color: #8080ff;
}
.camping__card:hover .camping__card--extend {
  display: inline-block;
}

.camping-card--travel {
  background-color: white;
  border-radius: 1.5rem;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.camping-card--travel .camping-card__review {
  position: relative;
  border-radius: 1.5rem;
  overflow: hidden;
  line-height: 1;
}
.camping-card--travel .camping-card__review .img-review {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.5rem;
}
.camping-card--travel .camping-card__review .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(59, 55, 53, 0.2);
}
.camping-card--travel .camping-card__review .camping-card__favorite {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  background-color: white;
  width: 3rem;
  height: 3rem;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-radius: 1rem;
  padding: 0.5rem;
  cursor: pointer;
}
.camping-card--travel .camping-card__review .camping-card__favorite .favorite--hidden {
  display: none;
}
.camping-card--travel .camping-card__review .camping-card__favorite .favorite--active {
  display: block;
}
.camping-card--travel .camping-card__review .camping-card__favorite img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.camping-card--travel .camping-card__review .camping-card__price {
  border-radius: 1.5rem;
  color: #FF8A6C;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 30%);
  padding: 1rem 3rem;
  background-color: white;
  font-weight: 600;
}
.camping-card--travel .camping-card__title {
  font-size: 1.6rem;
}
.camping-card--travel .camping-card__detail {
  font-size: 1.4rem;
}

@media only screen and (max-width: 62.5em) {
  .camping__card {
    width: 49%;
    margin-bottom: 2rem;
    padding: 7rem 5rem 6rem;
  }
  .camping__card--title {
    font-size: 2.25rem;
  }
  .camping__card--detail {
    font-size: 1.8rem;
  }
  .camping-card--travel {
    padding: 4rem;
  }
  .camping-card--travel .camping-card__review .camping-card__favorite {
    width: 4rem;
    height: 4rem;
  }
  .camping-card--travel .camping-card__review .camping-card__price {
    padding: 2rem 5rem;
    font-size: 2rem;
  }
  .camping-card--travel .camping-card__title {
    font-size: 2.25rem;
  }
  .camping-card--travel .camping-card__detail {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .camping__card {
    width: 100%;
  }
  .camping__card--img {
    width: 11.5rem;
    height: 11.5rem;
  }
}
.camping-info {
  position: relative;
  width: 100%;
  height: 30rem;
}
.camping-info .camping__cards {
  display: flex;
  position: relative;
  top: -10rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.explore-section {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.explore-section .camping-card__box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}
.explore-section .travel-review {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 0;
  transition: 0.3s all linear;
  overflow: hidden;
}
.explore-section .travel-review__img {
  width: 49%;
  border-radius: 3rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  transition: all 0.4s linear 0.3s;
  opacity: 0;
  object-fit: cover;
}
.explore-section .travel-review__img--left {
  transform: translateX(-100%);
}
.explore-section .travel-review__img--right {
  transform: translateX(100%);
}
.explore-section .travel-review__img--translate {
  transform: translate(0);
  opacity: 1;
}
.explore-section .travel-review--expanded {
  height: 400px;
}
.explore-section .explor-img {
  cursor: pointer;
}

.email-section .email__wrapper {
  display: flex;
  background-color: #F8E1DB;
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
  overflow: hidden;
}
.email-section .email__wrapper .email__box {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
  padding-left: 8rem;
  padding-right: 15rem;
  align-items: flex-start;
  width: 60%;
  background-image: url(../../assets/imgs/part-bg1.png);
  background-position: 10% 50%;
  background-size: cover;
  position: relative;
  z-index: 2;
}
.email-section .email__wrapper .email__box .email__input {
  position: relative;
  width: 100%;
}
.email-section .email__wrapper .email__box .email__input .input-email {
  padding: 2.5rem 2.5rem 2.5rem 5rem;
  background-color: white;
  width: 100%;
  border-radius: 1.5rem;
  outline: none;
  border: none;
}
.email-section .email__wrapper .email__box .email__input .input-email:focus {
  box-shadow: 0 1px 3px #FF8A6C;
}
.email-section .email__wrapper .email__box .email__input .img-email {
  position: absolute;
  top: 50%;
  left: 3rem;
  transform: translate(-50%, -50%);
}
.email-section .email__wrapper .email__box .email__input .btn-send {
  position: absolute;
  top: 50%;
  right: 3rem;
  transform: translate(50%, -50%);
  background-color: #E76F51;
  padding: 0.5rem;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-radius: 40%;
  width: 4rem;
  height: 4rem;
}
.email-section .email__wrapper .camp-img {
  position: relative;
  z-index: 10;
}
.email-section .email__wrapper .bg-device-small {
  position: absolute;
  display: none;
  height: 90%;
  object-fit: cover;
  top: 30%;
  left: -40%;
  z-index: 1;
}

@media only screen and (max-width: 75em) {
  .email__box {
    padding-right: 2rem !important;
  }
}
@media only screen and (max-width: 62.5em) {
  .camping-info {
    height: 70rem;
  }
  .explore-section .camping-card__box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
  .email-section .email__wrapper {
    flex-direction: column;
    padding: 5rem 2.5rem;
    border-radius: 3rem;
    background-image: linear-gradient(#F8E1DB, #F8E1DB), url(../../assets/imgs/part-bg-1.1.png);
    background-size: 100%;
    align-items: center;
  }
  .email-section .email__wrapper .email__box {
    order: 2;
    padding: 0;
    padding-top: 6rem;
    align-items: center;
    text-align: center;
    width: 100%;
    background-image: none;
  }
  .email-section .email__wrapper .email__box .email__input .input-email {
    padding: 4rem 4rem 4rem 7rem;
    width: 100%;
    border-radius: 2rem;
    outline: none;
    border: none;
  }
  .email-section .email__wrapper .email__box .email__input .input-email:focus {
    box-shadow: 0 1px 3px #FF8A6C;
  }
  .email-section .email__wrapper .email__box .email__input .img-email {
    left: 4.5rem;
  }
  .email-section .email__wrapper .email__box .email__input .btn-send {
    right: 4.5rem;
    padding: 1rem;
    width: 6.25rem;
    height: 6.25rem;
  }
  .email-section .email__wrapper .bg-device-small {
    display: block;
  }
  .email-section .camp-img {
    width: 50%;
  }
  .travel-review--expanded {
    height: 300px !important;
  }
}
@media only screen and (max-width: 37.5em) {
  .camping-info {
    position: relative;
    width: 100%;
    height: max-content;
    height: 150rem;
  }
  .camping-info .camping__cards {
    top: -15rem;
    flex-direction: column;
  }
  .camping-card__box {
    grid-template-columns: 1fr !important;
    grid-row-gap: 2rem !important;
  }
  .email-section .camp-img {
    width: 100%;
  }
  .travel-review__img {
    width: 100% !important;
    margin-bottom: 2rem;
  }
  .travel-review--expanded {
    height: 600px !important;
  }
}

/*# sourceMappingURL=style.css.map */
