$primary-color-orange: #FF8A6C;
$secondary-color-orange: #E76F51;
$sub-color-orange: #FFD2C6;
$primary-color-dark: #3B3735;
$secondary-color-dark: #8D8D8D;
$primary-color-yellow: #FFB63B;
$primary-color-light: #ffff;
$color-grey-01: #D2D2D2;
$color-grey-02: #F3F3F3;
$primary-color-bg: #FAF4F2;
$color-bg-orange: #F8E1DB;