.button-group{
    display: flex;
    &__button{
        color: $primary-color-light;
        padding: 0.5rem 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        transition: all 0.3 linear;
        &:hover{
            border: 1px solid $secondary-color-orange;
            border-radius: 2.5rem;
            background-color: $secondary-color-orange;
                border-color: transparent;
        }
        &--border{
            border-radius: 2.5rem;
            border: 1px solid $primary-color-light;
            margin-left: 1rem;
        }  
    }
}
.btn--discover{
    padding: 0.7rem 4rem;
    border-radius: 2rem;
    background-color: $secondary-color-orange;
    text-decoration: none;
    color: $primary-color-light;
    width: max-content;
    margin: 0 auto;
    border: 1px solid $secondary-color-orange;
    transition: all 0.3s;
    &:hover{
        border-color: $primary-color-light;
        background-color: transparent;
    }
}
.btn__readmore{
    text-decoration: none;
    padding: 1rem 0;
    background-color: $color-grey-02;
    border-radius: 2.5rem;
    color: $secondary-color-dark;
    display: inline-block;
}
.btn-view-all{
    padding: 0.5rem 4.5rem;
    border: 1px solid $primary-color-orange;
    border-radius: 2.5rem;
    color: $primary-color-orange;
    text-decoration: none;
    font-weight: 600;
}
@media only screen and (max-width: 37.5em) {
    .btn--discover{
        padding: 1rem 8rem;
        font-size: 2.2rem;
        border-radius: 3rem;
    }
    .btn__readmore{
        font-size: 2.25rem;
        padding: 1rem 6rem;
        border-radius: 3rem;
    }
    .btn-view-all{
        padding: 1rem 7rem;
        border: 2px solid $primary-color-orange;
        border-radius: 3rem;
        font-size: 2rem;
    }
}