.camping__card{
    width: 23.7%;
    padding: 5rem 2.3rem 4rem;
    background-color: $primary-color-light;
    cursor: pointer;
    transition: all 0.3s;
    border: 2px solid transparent;
    &--item{
        text-align: center;
        border-radius: 2rem;
        height: max-content;
    }
    &--img{
        @include dimension(6rem, 6rem);
    }
    &--title{
        font-size: 1.6rem;
    }
    &--detail{
        font-size: 1.4rem;
    }
    &--extend{
        display: inline-block;
        height: 0px;
        overflow: hidden;
        transition: 0.3s all linear;
        // display: none;
    }
    &:hover{
        border-color: #8080ff;
        .camping__card--extend {
            height: 150px;
            max-width: max-content;
        }
    }
}
.camping-card--travel{
    background-color: $primary-color-light;
    border-radius: 1.5rem;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .camping-card__review{
        position: relative;
        border-radius: 1.5rem;
        overflow: hidden;
        line-height: 1;
        .img-review{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1.5rem;
        }
        .overlay{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(59, 55, 53, 0.2);
        }
        .camping-card__favorite{
            position: absolute;
            top: 1.5rem;
            right: 1.5rem;
            background-color: $primary-color-light;
            @include dimension(3rem, 3rem);
            @include flexMiddle;
            border-radius: 1rem;
            padding: 0.5rem;
            cursor: pointer;
            .favorite--hidden{
                display: none;
            }
            .favorite--active{
                display: block;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .camping-card__price{
            border-radius: 1.5rem;
            color: $primary-color-orange;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 30%);
            padding: 1rem 3rem;
            background-color: $primary-color-light;
            font-weight: 600;
        }
    }
    .camping-card__title{
        font-size: 1.6rem;
    }
    .camping-card__detail{
        font-size: 1.4rem;
    }
}
@media only screen and (max-width: 62.5em) {
    .camping__card{
        width: 49%;
        margin-bottom: 2rem;
        padding: 7rem 5rem 6rem;
        &--title{
            font-size: 2.25rem;
        }
        &--detail{
            font-size: 1.8rem;
        }
    }
    .camping-card--travel{
        padding: 4rem;
        .camping-card__review{
            .camping-card__favorite{
                @include dimension(4rem, 4rem);
            }
            .camping-card__price{
                padding: 2rem 5rem;
                font-size: 2rem;
            }
        }
        .camping-card__title{
            font-size: 2.25rem;
        }
        .camping-card__detail{
            font-size: 2rem;
        }
    }
}
@media only screen and (max-width: 37.5em) {
    .camping__card{
        width: 100%;
        &--img{
            @include dimension(11.5rem, 11.5rem);
        }
    }
}
