.header {
    padding: 4rem 12rem;
    height: 90vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(rgba(59, 55, 53, 0.5),rgba(59, 55, 53, 0.5)),url(../../assets/imgs/hero4x.png);
    background-repeat: no-repeat;
    background-position-y: 75%;
    background-size: cover;
    border-bottom-left-radius: 15rem;
    border-bottom-right-radius: 15rem;
    &__nav{
        display: flex;
        &--icon{
            @include dimension(4rem, 4rem);
                margin-right: 4rem;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
        }
        .nav{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-grow: 1;
            &__item{
                margin-right: 3rem;
                color: $color-grey-01;
                font-size: 1.6rem;
                line-height: 1.55;
                text-decoration: none;
                position: relative;
                transition: 0.3s all;
                &::before{
                    content: '';
                    transition: 0.3s all;
                    display: block;
                    width: 3.5rem;
                    height: 2px;
                    background-color: $primary-color-orange;
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    left: 25%;
                    transform: translate(-50%, -10px) rotateZ(45deg);
                }
                &:hover{
                    color: $primary-color-light;
                    &::before{
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -150%) rotateZ(45deg);
                        opacity: 1;
                    }
                }
                &--active{
                    color: $primary-color-light;
                    &::before{
                        content: '';
                        display: block;
                        width: 3.5rem;
                        height: 2px;
                        background-color: $primary-color-orange;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -150%) rotateZ(45deg);
                        opacity: 1;
                    }
                }
            }
            &-box{
                display: none;
                padding: 0.5rem 0.2rem;
                background-color: $primary-color-light;
                @include flexMiddle;
                @include dimension(6rem, 6rem);
                border-radius: 40%;
                img{
                    @include dimension(100%, 100%);
                    object-fit: cover;
                }
            }
        }
    }
    &__hero{
        display: flex;
        flex-direction: column;
        text-align: center;
        color: $primary-color-light;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .hero-container{
        padding: 3rem;
        margin: 0 auto;
        h1{
            font-size: 6rem;

        }
    }
    .sub-content{
        line-height: 1.55;
    }
}
@media (min-width: 1200px) {
    .header {
        padding: 4rem 12rem;
    }
    .hero-container{
        max-width: 40%;
    }
}
@media only screen and (max-width: 75em) {
    .header {
        padding: 4rem 4rem;
    }
    .hero-container{
        max-width: 40%;
    }
    .nav__item{
        margin-right: 2rem;
    }
    .nav--icon{
        margin-right: 2rem;
    }
    .nav__item-box{
        max-width: 70%;
    }
}
@media only screen and (max-width: 37.5em) {
    .header {
        padding: 2rem 2rem;
        height: 100vh;
    }
    .hero-container{
        max-width: 80%;
    }
    .header__nav{
        justify-content: space-between;
    }
    .header__nav--icon{
        width: 6rem !important;
        height: 6rem !important;
    }
    .nav{
        display: none !important;
    }
    .nav-box{
        display: flex !important;
    }
    .sub-content{
        font-size: 2.3rem;
    }
    .header__hero{
        width: 100%;
    }
    .hero-container {
        max-width: 100%;
    }
}